body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

.bord{
  border: 5px solid rgb(7, 7, 7);
  
}
.in{
  background:radial-gradient(rgb(237, 233, 210),rgb(25, 25, 25));
}
.w {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  margin-left:-75px;
 
}

.a {
  width:90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 5px;
}

.s {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  margin-top: -53px;
  margin-left:-9px;

}

.d {
  width:90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 108px;
 
}

.j {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  margin-top:90px ;
  margin-left:-46px;
  background: radial-gradient(white 5%,black 80%);
}

.k {
  width:90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
 margin-left: -158px;
  margin-top: 45px;
}

.l {
  border:5px solid black;
  background:radial-gradient(rgb(237, 233, 210),rgb(238, 238, 35));
width: 65px;
height: 65px;
border-radius: 50%;
position: absolute;
margin-left: 103px;
margin-top: -10px;
}
.drum{
  color: rgb(16, 144, 155);
  font-size: 20px;
  font-weight: bold;
}

.set {
  margin: 10% auto;
  
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

